// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.d-flex {
    display: flex;
    align-items: center;
}

.padded {
  padding: 100px 0;
}

.wrapper {
  background: $light-gray;
}
